<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EnumBug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3133F7CC1C6BBEBE009E3B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3133F7E31C6BBEBF009E3B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3133F7EE1C6BBEBF009E3B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
